{% extends "base.html" %}
{% block header %}
  <title>Browse SPARC Maps</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="favicon.ico">
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <link rel="stylesheet" href="./static/css/mapcore.css">
  <title>MAP</title>
{% endblock %}
{% block app %}
	<div id="MAPcore Banner" style="height: 100px;position: relative;background-image: linear-gradient(to right, rgba(0,38,255), rgba(248,0,69));">
		<div style="position: relative;
		    height: 100%;
		    top: 10px;
		    left: 5%;
		    z-index: 1;
		    font: 32px bold;
		    color: white;
		    font-family: sans-serif;">
			MAPCore 
    	</div>
	</div>
	
	<div id="MAPcorePortalArea" style="height:1000px;position:relative;">
		<div id="maptab-container">
			<div class="maptab"></div>
			<div class="maptab-contents"></div>
		</div>
	</div>
{% endblock %}
{% block javascript %}
  <script type="text/javascript" src="./static/dist/app.js"></script>
{% endblock %}
