{% extends "base.html" %}
{% block header %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="favicon.ico">
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <link rel="stylesheet" href="./static/css/mapcore.css">
  <title>MAP</title>
{% endblock %}
{% block app %}
	<div id="MAPcorePortalArea" style="height:1000px;position:relative;">
		<div class="flex" style="height:100%;">
		    <div id="one"></div>
		    <div id="two" class="flex-column">
		    	<div id="three"></div>
		    	<div id="four"></div>
		    </div>
		</div>
	</div>
{% endblock %}
{% block javascript %}
  <!-- Place additional Javascript here -->
  <!-- <script type="text/javascript" src="./scaffoldmaker_webapp.js"></script>-->
  <script src="https://unpkg.com/split.js/dist/split.min.js"></script>
  <script type="text/javascript" src="./static/mapcorewebapp.min.js"></script>
  <script type="text/javascript" src="./static/integrated.js"></script>
{% endblock %}
