
#map-app {
  margin-top: 6em;
}

#MAPcore_Banner {
  height: 100px;
}

.mapcore-gradient-background {
  background-image: linear-gradient(to right, rgba(25,6,204), rgba(255,0,61));
}

#mapcore_banner_text {
  color: white;
  margin-left: 178px;
  padding-top: 20px;
}

#maptab_container {
  display: inline-block;
  width:72%;
}

/* Style the tab */
.maptab-tabbar {
  overflow-x: auto;
  display: flex;
  align-items: flex-end;
}

/* width */
.maptab-tabbar::-webkit-scrollbar {
  height: 8px;
}

/* Track */
.maptab-tabbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

/* Handle */
.maptab-tabbar::-webkit-scrollbar-thumb {
  background: #e6a23c; 
  border-radius: 10px;
}

/* Create an active/current tablink class */
.maptab-tabbar .tablinks.active {
  background-color: white;
}

/* Style the buttons that are used to open the tab content */
.maptab-tabbar .tablinks {
  color: #8300BF;
  display: flex;
  float: left;
  outline: none;
  cursor: default;
  padding: 2px 6px;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  margin-right: 1px;
  border-color: black;
  border-width: 4px;
  white-space: nowrap;
}

/* Change background color of buttons on hover */
.maptab-tabbar .tablinks:hover:not(.active) {
  color: #8300BF;
}

.maptab-tabbar .tablinks button {
  border-radius:10px;
  margin-left: 3px;
  cursor: pointer;
  vertical-align: middle;
  border: none;
  background-color: inherit;
}

.maptab-tabbar .tablinks button:hover {
  background-color: gray;
}

.maptab-tabbar .tablinks:not(.active) {
  background-color: darkgray;
  color: black;
  cursor: pointer;
}

.maptab-contents {
  position: relative;
  width: 100%;
}

/* Style the tab content */
.maptab-tab-content {
  display: none;
  padding: 0px 0px;
  border-top: none;
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0px;
}

/* Style the tab content */
.maptab-tab-content.active {
  display: block;
}

.ui-widget.ui-widget-content {
	border: none;
}

ui-widget-content {
	border: none;
}

.header-button {
  border-radius: 5px 5px 5px 5px;
  color: #8300BF;
  position: absolute;
  right: 20px;
  font-size: 15px;
  cursor: pointer;
  text-decoration: none;
  background: white;
  padding: 2px;
  border: white;
  border-color: rgb(247, 250, 255);
  border-bottom-color: rgb(250, 0, 64);
  background-color: rgb(247, 250, 255);
  border-style: solid;
}

#help-button {
  right: 20px;
}

#fullscreen-button {
  right: 80px;
}

#mapcore_content_panel {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

#MAPcorePortalArea {
  height: 90%;
}

#MAPcorePortalArea::backdrop{
  background-color: rgba(247, 250, 255,1);
}

#MAPcorePortalArea::-ms-backdrop {
  background-color: rgba(247, 250, 255,1);
}

.background-message {
  padding: 0px 0px;
  height: 80%;
  position: absolute;
  width: 60%;
  top: 20%;
  left: 20%;
  font-size: 20px;
  text-align: center;
}

#reopen {
  border-radius: 5px 5px 5px 5px;
  color: #8300BF;
  cursor: pointer;
  text-decoration: none;
  background: white;
  padding: 2px;
  border: white;
  border-color: rgb(247, 250, 255);
  border-bottom-color: rgb(250, 0, 64);
  background-color: rgb(247, 250, 255);
  border-style: solid;
}