body {
    background-color: #FBFBFD;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
   /* font-family: Asap,serif; */
    margin: 0;
}

#logo {
    align-self: center;
    margin: 0 50px 0 15px;
    font-weight: 700;
}

#portal_modules {
    display: flex;
    flex:1;
    flex-direction: row;
    justify-content: left;
}

#help_button {
    display: flex;
    align-items: center;
    justify-items: flex-end;
    flex: 0;
    margin: 0 15px;
}

.module_option {
    color: #e8edfb;
    align-self: center;
    margin: 10px;
}

#portal_modules a {
    color: #e8edfb;
    text-decoration: none;
}

#portal_nav {
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    background-color: #1a1489;
    color: #e8edfb;
    border-bottom: 1px solid lightgray
}