{% extends "base.html" %}
{% block header %}
  <title>SPARC Portal · Map Core</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="favicon.ico">
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu:700&display=swap" rel="stylesheet">
  <title>MAP</title>
{% endblock %}
{% block app %}
	<div id="map-app">
		<div id="MAPcore_Banner" class="mapcore-gradient-background">
			<div id="mapcore_banner_text">
				<h3>Find SPARC maps</h3>
				<p>Investigate interactive maps of the autonomic nervous system.</p>
			</div>
		</div>
		<div id="MAPcorePortalArea">
			<a id="help-button" href="https://mapcore-documentation.readthedocs.io/en/latest/index.html" target="_blank">Help</a>
			<div id="mapcore_content_panel">
				<div id="maptab_container">
					<div id="maptab_tabbar" class="maptab-tabbar mapcore-gradient-background"></div>
					<div id="maptab_contents" class="maptab-contents"></div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block javascript %}
	<script type="text/javascript" src="_build/bundle_map.js"></script>
{% endblock %}

