{% extends "base.html" %}
{% block header %}
  <title>SPARC Portal</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="favicon.ico">
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu:700&display=swap" rel="stylesheet">
  <title>MAP</title>
{% endblock %}
{% block app %}
	<div id="map-app">
		<div id="MAPcore_Banner" class="mapcore-gradient-background">
			<div id="mapcore_banner_text">
				<h3>Maps</h3>
				<p>Interactive maps reveal the anatomy and functional relationships of the autonomic nerves and the organs that they innervate. 2D and 3D maps render spatial dynamics, connectivity, and physiology across a range of species and nerve-organ systems.
				</p>
			</div>
		</div>
		<div id="MAPcorePortalArea">
			<div>
			<button class="header-button" id="fullscreen-button" type="button">Fullscreen</button>
			<a class="header-button" id="help-button" href="https://mapcore-documentation.readthedocs.io/en/latest/index.html" target="_blank">Help</a>
			</div>
			<div id="mapcore_content_panel">
				<div id="maptab_container">
					<div id="maptab_tabbar" class="maptab-tabbar mapcore-gradient-background"></div>
					<div id="maptab_contents" class="maptab-contents"><div class="background-message">Looks like there is no active tab. You can reopen the default flatmap dialog <button id="reopen">here</button>. Alternatively, you can open new dialog from the search results.</div></div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block javascript %}
	<script type="text/javascript" src="_build/bundle_map.js"></script>
{% endblock %}

