<!DOCTYPE html>
<html lang="en">
<head>
    {% block header %}
    <title>SPARC Data Portal</title>
    {% endblock %}
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

    <link rel="stylesheet" type="text/css" href="%% url_for('static', filename = 'css/_base.css') %%">

</head>

<!-- import Vue before Element -->
<script src="%% url_for('static', filename = 'node_modules/vue/dist/vue.js') %%"></script>

<!-- import JavaScript -->
<script type = "text/javascript" 
src = "%% url_for('static', filename = 'node_modules/element-ui/lib/index.js') %%" ></script>

<body>
    <div id="app">
        <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" >
            <el-menu-item index=""><a href="/">Dashboard</a></el-menu-item>
            <el-menu-item index="browse"><a href="/browse">Browse</a></el-menu-item>
            <el-menu-item index="map" ><a href="/map">SPARC Map</a></el-menu-item>
            <el-menu-item index="sim"><a href="/sim">SPARC Sim</a></el-menu-item>
        </el-menu>
    </div>
    {% block app %}{% endblock %}
</body>
{% block javascript %}
{% endblock %}
<script>

  url = window.location.pathname.split('/')[1]
  new Vue({
    el: '#app',
    data: function() {
      return { visible: false, activeIndex: url }
    }
  })
</script>



</html>