<!DOCTYPE html>
<html lang="en">
<head>
    {% block header %}
    <title>SPARC Data Portal</title>
    {% endblock %}
    <meta charset="UTF-8">
    <!-- import CSS -->

    <link rel="stylesheet" type="text/css" href="%% url_for('static', filename = 'css/_base.css') %%">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div id="portal_nav">
        <div id="logo">
            NIH SPARC
        </div>
        <div id="portal_modules">
            <div class="module_option"><a href="/">Dashboard</a></div>
            <div class="module_option"><a href="/browse">Browse</a></div>
            <div class="module_option"><a href="/map">SPARC Map</a></div>
            <div class="module_option"><a href="/sim">SPARC Sim</a></div>
        </div>
        <div id="help_button">
                <a href="https://docs.sparc.science"><i class="fa fa-question-circle-o" style="font-size:36px; color:white"></i></a>
        </div>
    </div>
    {% block app %}{% endblock %}
</body>

{% block javascript %}
{% endblock %}
</html>