
/* Style the tab */
.maptab-tabbar {
  overflow: hidden;
  background-image: linear-gradient(to right, rgba(0,38,255), rgba(248,0,69));
  display: flex;
  align-items: flex-end;
}


/* Create an active/current tablink class */
.maptab-tabbar .tablinks.active {
  background-color: white;
}

/* Style the buttons that are used to open the tab content */
.maptab-tabbar .tablinks {
  display: flex;
  float: left;
  outline: none;
  cursor: default;
  padding: 2px 6px;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  margin-right: 1px;
  border-color: black;
  border-width: 4px;
}

/* Change background color of buttons on hover */

.maptab-tabbar .tablinks:hover:not(.active) {
  background-color: #6abbec;

}

.maptab-tabbar .tablinks button {
  border-radius:10px;
  margin-left: 3px;
  cursor: pointer;
  vertical-align: middle;
  border: none;
  background-color: inherit;
}

.maptab-tabbar .tablinks button:hover {
  background-color: gray;
}
.maptab-tabbar .tablinks:not(.active) {
  background-color: darkgray;
  cursor: pointer;
}

/* Style the tab content */
.maptab-contents {
  display: none;
  padding: 0px 0px;
  border: 1px solid #ccc;
  border-top: none;
  height: 100%;
}

/* Style the tab content */
.maptab-contents.active {
  display: block;
}

#maptab_container {
  position: absolute;
  height:100%;
  width:100%;
}
